Source: ufw
Section: admin
Maintainer: Jamie Strandboge <jdstrand@ubuntu.com>
Build-Depends-Indep:
 iptables,
 netbase,
 procps,
 sed (>= 3.95)
Build-Depends:
 debhelper-compat (= 14),
 dh-python,
 po-debconf,
 python3 (>= 3.2),
 python3-setuptools
Standards-Version: 4.7.4
Homepage: https://launchpad.net/ufw
Vcs-Browser: https://git.launchpad.net/ufw?h=debian/main
Vcs-Git: https://git.launchpad.net/ufw -b debian/main

Package: ufw
Architecture: all
Suggests: rsyslog
Pre-Depends: debconf (>= 0.5) | debconf-2.0
Depends:
 iptables,
 procps,
 ucf,
 ${python3:Depends},
 ${misc:Depends}
Breaks: iptables-persistent, netfilter-persistent
Description: program for managing a Netfilter firewall
 The Uncomplicated FireWall is a front-end for iptables, to make managing a
 Netfilter firewall easier. It provides a command line interface with syntax
 similar to OpenBSD's Packet Filter. It is particularly well-suited as a
 host-based firewall.
